<div class="jumbotron friends">
    <div class="container">
        <h1 class="text-center text-white">E-Leaning</h1>
    </div>
    <h3 class="text-center text-black">aaaaaaaa</h3>
    <p class="text-center text-white">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
</div>           
