<div class="container-fluid signupbg text-white">
<br>
<br>
    <div class="container signupgamen">
        <h1 class="text-center text-black border-black">Sign up</h1>
            <%= render 'form' %>
    </div>
</div>   
 
