<div class="container-fluid pt-4 indexbg">
    <div class="d-flex align-content-center float-left flex-wrap  my-box-light" style="height: 40rem;">
        <div class="container indexgamen">
            <h2 class="text-center">New Category</h2>
                <%= link_to "Create", new_admin_category_path, class: "btn btn-flat-simple btn-block mt-4" %>
        </div>
    </div>
</div>    