<div class="container-fluid pt-4 adminbg">
    <div class="d-flex align-content-center float-left flex-wrap  my-box-light" style="height: 40rem;">
        <div class="container admingamen">
            <h3 class="text-center">Word</h3>
            <%= @category.title %>
            <%= link_to "new word", new_admin_word_path, class: "btn btn-block btn-flat-simple mt-4" %>
        </div>
    </div>    
</div>