@import "bootstrap";

.navbar{
  background-color: black;
}

.footer {
  background-color: black;
}

.friends {
  background: url(friends.jpeg);
  background-size: cover;
  height: 100vh;
  width: 100%;
}


// signup //
.signupgamen {
  width: 50%;
  background-color: rgba(211, 186, 150, 0.616);
  padding : 20px
}

.signupbg {
  background: url(friends.jpeg);
  background-size: cover;
  height: 100vh;
  width: 100%;

}

.form {
  margin: 20px;
}

.btnwidth {
  width : 50px;
}

// login //
.logingamen {
  width: 50%;
  background-color: rgba(188, 205, 231, 0.616);
  padding : 20px
}

.loginbg {
  background: url(login.jpeg);
  background-size: cover;
  height: 100vh;
  width: 100%;

}

// edit //
.editgamen {
  width: 50%;
  background-color: rgba(130, 119, 226, 0.616);
  padding : 20px
}

.editbg {
  background: url(edit.jpeg);
  background-size: cover;
  height: 100vh;
  width: 100%;

}

// admin //
.btn-flat-simple {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #ECECEC;
  background: #000000;
  transition: .4s;
}

.btn-flat-simple:hover {
  background: #ECECEC;
  color:  #000000;
}

.admingamen {
  width: 450px;
  padding : 20px;
  font-family: 'Varela Round', sans-serif;
  border-radius: 15px;
  border : solid 3px;
  border-color: #000000;  
}

.adminbg {
  background: url(new.jpeg);
  background-size: cover;
  height: 95vh;
  width: 100%;

}

.description{
  height: 60px;
}

// index //
.btn-flat-simple {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #ECECEC;
  background: #000000;
  transition: .4s;
}

.btn-flat-simple:hover {
  background: #ECECEC;
  color:  #000000;
}

.indexgamen {
  width: 450px;
  height: 150px;
  padding : 20px;
  font-family: 'Varela Round', sans-serif;
}

.indexbg {
  background: url(new.jpeg);
  background-size: cover;
  height: 100vh;
  width: 100%;

}

// footer //

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

// category table //
.category_table {
  border-color:white;
  font-size: 20px;
  width: 650px;
  color: #ECECEC;
}




.wordbg {
  background: url(new.jpeg);
  background-size: cover;
  height: 95vh;
  width: 100%;

}

.wordgamen {
  width: 450px;
  height: 150px;
  padding : 20px;
  font-family: 'Varela Round', sans-serif;
}